body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/images/background.png');
}

.container {
  margin-bottom: 16px;
}

.job-description {
  color: white;
}

.tableJobs {
  margin: 20px;
}

a {
  color: #00B7FF;
}
